.abilities {
  margin: 0;
  padding: 0;
}

.abilities__wrapper {
  min-width: 280px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.abilities__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 15px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
  }
}

.abilities__item {
  margin: 0 0 20px 0;
  padding: 24px 20px 0 20px;
  background-color: $basic_grey;
  display: grid;
  grid-template-rows: min-content;
  grid-template-areas: "title"
    "text"
    "link";

  &--weight-loss,
  &--mass-gain {
    &::before {
      content: "";
      background-color: $basic_green;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      grid-area: title;
    }

    &::after {
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 2;
      grid-area: title;
    }
  }

  &--weight-loss {
    &::after {
      width: 36px;
      height: 50px;
      margin: -3px 0 0 7px;
      background-image: url("../../img/cat-slim.svg");
    }
  }

  &--mass-gain {
    &::after {
      width: 67px;
      height: 28px;
      margin: 11px 0 0 -9.5px;
      background-image: url("../../img/cat-pro.svg");
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 30px 0;
    padding: 57px 62px 57px 52px;
    grid-template-columns: auto min-content;
    grid-template-areas: "title icon"
      "text icon"
      "link icon";

    &--weight-loss,
    &--mass-gain {
      &::before, {
        width: 200px;
        height: 200px;
        margin: 35px 0 0 auto;
        grid-area: icon;
      }
    }

    &--weight-loss {
      &::after {
        width: 140px;
        height: 192px;
        margin: 24px 0 0 31px;
        grid-area: icon;
      }
    }

    &--mass-gain {
      &::after {
        width: 268px;
        height: 112px;
        margin: 78px -34px 0 0;
        grid-area: icon;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 47px 51px 59px 52px;
    max-width: 570px;
    grid-template-columns: min-content auto;
    grid-template-areas: "title title"
      "text text"
      "link .";

    &--weight-loss,
    &--mass-gain {
      &::before {
        width: 100px;
        height: 100px;
        margin: 0;
        grid-area: title;
      }
    }

    &--weight-loss {
      &::after {
        width: 70px;
        height: 97px;
        margin: -6px 0 0 15px;
        grid-area: title;
      }
    }

    &--mass-gain {
      &::after {
        width: 134px;
        height: 56px;
        margin: 20px 0 0 -19px;
        grid-area: title;
      }
    }
  }
}

.abilities__title {
  grid-area: title;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 6px 0 29px 0;
  padding: 0 0 0 71px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin: 19px 0 10px 0;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 30px 0 74px 0;
    padding: 0 0 0 162px;
  }
}

.abilities__description {
  grid-area: text;
  margin: 0 0 23px 0;
  font-family: "Arial", "Helvetica" sans-serif;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 17px 0 20px 0;
    padding: 0 17px 0 0;
    font-size: 16px;
    line-height: 24px;
    color: $basic_black;
  }

  @media (min-width: $desktop-width) {
    width: 472px;
    margin: 0 0 26px 0;
    padding: 0;
  }
}

.abilities__link {
  grid-area: link;
  position: relative;
  height: 57px;
  padding: 19px 0 22px 0;
  font-size: 16px;
  line-height: 16px;
  color: $basic_black;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: $special_light-grey-4;
  }

  &::after {
    content: "";
    width: 24px;
    height: 12px;
    margin: 0 8px 0 16px;
    background-image: url("../../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover,
  &:focus {
    &::after {
      width: 32px;
      background-image: url("../../img/icon-arrow-hover.svg");
      transition: all 0.1s ease-in-out;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: auto;
    padding: 0;
    margin: 30px 0 0 0;
    font-size: 20px;
    line-height: 30px;

    &::before {
      display: none;
    }

    &::after {
      margin: 0 8px 0 26px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
