.example {
  background-color: $special_light-grey-2;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-color: $basic_white;
    border-top: 1px solid $special_light-grey-7;
    background-image: linear-gradient(90deg, $special_light-grey-2 0%, $special_light-grey-2 0%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 462px;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
  }
}

.example__wrapper {
  padding: 27px 20px 31px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 63px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 69px auto 0 auto;
    padding: 0 0 65px 0;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
  }
}

.example__title {
  margin: 0 0 33px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 63px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 149px 0;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

.example__text {
  margin: 0 0 25px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0 10px 54px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0 10px 68px 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.example__stats-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.example__stats-list {
  margin: 0 0 34px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 366px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px 0;
  }
}

.example__stats-text {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 10px 0;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    min-width: 327px;
    flex-direction: row;
    justify-content: flex-start;

    :nth-child(2) {
      margin-left: 63px;
    }
  }
}

.example__changes {
  min-height: 280px;
  margin: 0 0 7px 0;
  position: relative;

  @media (min-width: $desktop-width) {
    min-height: auto;
    grid-row: 2 / 3;
    grid-column: -1 / -2;
  }
}

.example__toggles {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 330px 0 35px 0;
  }

  @media (min-width: $desktop-width) {
    width: 572px;
    margin: 123px 0 5px 0;
    grid-row: 3 / 4;
    grid-column: -1 / -2;
  }
}
