.example {
  background-color: $special_light-grey-2;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-color: $basic_white;
    border-top: 1px solid $special_light-grey-7;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
  }
}

.example__wrapper {
  padding: 27px 20px 31px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 33px 30px;
    background-image: linear-gradient(90deg, $special_light-grey-2 0%, $special_light-grey-2 0%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 462px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 110px 67px 110px;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(3, min-content) 240px min-content;
    // grid-template-areas: "title",
    // "text",
    // "stats",
    // "slider",
    // "controls";
  }
}

.example__title {
  margin: 0 0 33px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  margin: 0 0 25px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__stats-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 366px;
  }
}

.example__stats-list {
  margin: 0 0 34px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 366px;
    margin: 0;
  }
}

.example__stats-text {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 10px 0;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.example__changes {
  min-height: 280px;
  margin: 0 0 7px 0;
  position: relative;
}

//.example__changes-item

.example__toggles {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 330px 0 35px 0;
  }
}
