.extra-products {
  overflow: hidden;
}

.extra-products__wrapper {
  padding: 0 20px;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 86px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.extra-products__title {
  position: relative;
  margin: 0 20px 32px 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic_black;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 14px;
    left: calc(100% + 22px);
    background-color: $basic_green;
    width: 100vw;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    margin-left: 67px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 7px;
      right: calc(100% + 37px);
      background-color: $basic_green;
      width: 100vw;
    }

    &::after {
      left: calc(100% + 36px);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;
    margin-left: 110px;

    &::before {
      right: calc(100% + 40px);
    }

    &::after {
      left: calc(100% + 35px);
    }
  }
}

.extra-products__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    min-width: 895px;
  }
}

.extra-products__button {
  grid-area: button;
}

.extra-products__promo {
  min-width: 280px;
  min-height: 289px;
  margin: 39px 0 0 0;
  padding: 58px 61px 43px 58px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin: 69px 0 0 0;
    padding: 57px 124px 60px 78px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    min-height: 289px;
    margin: 0 0 0 80px;
    padding: 56px 43px 42px 41px;
  }
}
