.form-section {
  border-top: 1px solid $special_light-grey-4;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.form-section__wrapper {
  padding: 27px 20px 18px 20px;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 41px 70px 72px 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto 82px auto;
  }
}

.form-section__main-title {
  margin: 0 0 37px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 22px 2px 55px 2px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 72px 2px 58px 0;
  }
}

.form-section__subtitle {
  margin: 0 0 39px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 230px;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 3px;
    font-size: 20px;
    line-height: 30px;
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
