.form__section-title {
  position: relative;
  display: inline-block;
  max-width: 185px;
  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 17px;
    left: calc(100% + 20px);
    background-color: $basic_green;
    width: 100vw;
  }

  &.form__section-title--checkbox-area {
    margin: 0 0 29px 0;

    @media (min-width: $tablet-width) {
      margin: 0 0 43px 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 3px 75px 3px;
    max-width: none;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      top: 22px;
      right: calc(100% + 40px);
      background-color: $basic_green;
      width: 100vw;
    }

    &::after {
      left: calc(100% + 40px);
      top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 3px 75px 3px;
  }
}

.form__product-goals-select {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    margin: 0 0 68px 0;
    padding: 0 0 0 3px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__global-data {
  margin: 0;
  padding: 0 0 8px 0;
  border: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding: 0;

    .form__input-label:nth-last-child(1) {
      margin: 0;
    }
  }
}

.form__input-label {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  margin: 0 0 14px 0;
  display: flex;
  align-items: center;

  &--email-icon {
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 14px;
      top: 20px;
      right: 15px;
      background-image: url("../../img/icon-email.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form__contacts-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  height: 45px;
  border: 1px solid $special_light-grey-3;
  border-radius: 0;
  margin: 0 0 0 12px;
  padding: 0 0 0 14px;
  flex-grow: 1;

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus {
    outline: none;
    border: 2px solid $special_dark-grey;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 0 16px;
    padding: 0 0 0 17px;
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }
}

.form__goals {
  margin: 29px 0 26px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: -22px;
      height: 1px;
      width: 100vw;
      background-color: $special_light-grey-4;
    }

    &::before {
      top: -29px;
    }

    &::after {
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 195px;
    margin: 45px 0 75px 0;
    border: 1px solid $special_light-grey-3;
    padding: 14px 28px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 16px 28px;
    margin: 0;
  }
}

.form__radio-label {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
  height: 30px;
  margin: 0 0 13px 0;
  padding: 0 0 0 45px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid $special_light-grey-4;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    margin: 12px 0;
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
      top: -3px;
    }
  }
}

.form__radio-input {
  &:checked + .form__radio-label::after {
    content: "";
    position: absolute;
    left: 8.3px;
    top: 2.5px;
    width: 13.5px;
    height: 13.5px;
    border: 1px solid $basic_green;
    border-radius: 50%;
    background-color: $basic_green;
  }

  @media (min-width: $tablet-width) {
    &:checked + .form__radio-label::after {
      left: 11px;
      top: 8px;
      width: 18px;
      height: 18px;
    }
  }
}

.form__contacts {
  margin: 0 0 9px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 48px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__comments {
  margin: 0 0 27px 0;
  padding: 0;
  border: none;
  display: flex;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 68px 0;
  }
}

.form__textarea {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 0 14px;
  color: $special_dark-grey;
  text-transform: uppercase;
  border: 1px solid $special_light-grey-3;
  min-height: 150px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 175px;
    padding: 0 0 0 20px;
  }
}

.form__extra {
  margin: 0 0 28px 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 43px 0;
  }
}

.form__checkbox-area {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 37px 3px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 325px) auto;
  }
}

.form__checkbox-input {
  &:checked + .form__checkbox-label::after {
    content: url("../../img/checkbox-icon.svg");
    position: absolute;
    left: 2px;
    top: -4px;
    width: 26px;
    height: 26px;
  }

  @media (min-width: $tablet-width) {
    &:checked + .form__checkbox-label::after {
      left: 7px;
      top: 2px;
    }
  }
}

.form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  color: $basic_black;
  text-transform: uppercase;
  margin: 12px 0;
  padding: 0 0 0 46px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 30px;
    height: 30px;
    border: 1px solid $special_grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 59px;
    margin: 21px 0;
    min-width: 285px;
    max-width: 300px;

    &::before {
      width: 40px;
      height: 40px;
      margin: 0 0 61px 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 221px;
  }
}

.form__submit-section {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $basic_black;
  text-align: center;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: auto auto 21px 61px;
  }

  @media (min-width: $desktop-width) {
    margin: auto auto 19px 81px;
  }
}
