.form-section {
  border-top: 1px solid $special_light-grey-4;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.form-section__wrapper {
  padding: 27px 20px 32px 20px;

  @media (min-width: $tablet-width) {
    padding: 41px 70px 72px 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 110px 82px 110px;
  }
}

.form-section__main-title {
  margin: 0 0 37px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form-section__subtitle {
  margin: 0 0 39px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 230px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
  }
}

// .form

.form__global-data {
  margin: 0;
  padding: 0 0 24px 0;
  border: none;
  border-bottom: 1px solid $special_light-grey-4;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__input-label {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  border: 1px solid $special_light-grey-3;
  border-radius: 0;
  box-sizing: border-box;

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus {
    border: 2px solid $special_dark-grey;
    border-radius: 0;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__goals {
  margin: 0 0 26px 0;
  padding: 28px 0 25px 0;
  border: none;
  border-bottom: 1px solid $special_light-grey-4;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__radio-label {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey-2;
  text-transform: uppercase;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid $special_light-grey-4;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__contacts {
  margin: 0 0 24px 0;
  padding: 0;
  border: none;
}

.section-title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
}

.form__comments {
  margin: 0 0 23px 0;
  padding: 0;
  border: none;
}

.form__textarea {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
}

.form__extra {
  margin: 0 0 31px 0;
  padding: 0;
  border: none;
}

.form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  color: $basic_black;
  text-transform: uppercase;
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $basic_black;
  text-align: center;
  margin-top: 21px;
}
