.main-map {
  margin: 0;
  position: relative;
}

.main-map--dark-background {
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-map__text-block {
  padding: 28px 19px 26px 19px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 65px 72px 55px 71px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    height: 201px;
    padding: 62px 89px 51px 76px;
    background-color: $basic_white;
  }
}

.main-map__title {
  width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $special_black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.main-map__adress {
  width: 140px;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.main-map__city {
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin: 20px 0 0 0;
  }
}

.main-map__map {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
