.page-header {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    background-color: yellowgreen;
  }
}

.page-header__logo {
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 34px;
  height: 38px;
  margin-top: 12px;
  position: absolute;
  left: 0;

  @media (min-width: $tablet-width) {
    src: url("../../img/logo-tablet.svg");
    width: 174px;
    height: 52px;
    margin-top: 24px;
  }

  @media (min-width: $tablet-width) {
    src: url("../../img/logo-desktop.svg");
    width: 220px;
    height: 59px;
    margin-top: 53px;
  }
}

.page-header__logo-text {
  width: 101px;
  height: 18px;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
