.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  height: 66px;

  @media (min-width: $tablet-width) {
    height: 100px;
  }

  @media (min-width: $desktop-width) {
    height: 165px;
  }
}

// .page-header__logo-image

// .page-header__logo-text

