.page-footer {
  min-height: 150px;
  background-color: $basic_grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 55px 30px 61px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 61px 110px;
  }
}


@media (max-width: $mobile-width-only) {
  .page-footer__logo,
  .page-footer__social {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: calc(100vw - 40px);
      bottom: 0;
      background-color: $special_light-grey-4;
    }
  }
}

.page-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 34px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-text {
  margin: 38px auto 32px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__social {
  min-height: 63px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {

    min-height: auto;
    max-width: 130px;
  }
}

.page-footer__copyright-link {
  padding: 22px 0;

  @media (max-width: $mobile-width-only) {
    min-height: 78px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
