.page-footer {
  background-color: $basic_grey;
  text-align: center;
}

.page-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    &:nth-child(n + 1) {
      position: relative;

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        top: 0;
        background-color: $special_light-grey-4;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding: 55px 30px 61px 30px;
    height: 34px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    padding: 57px 110px 58px 110px;
  }
}

.page-footer__logo {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 95px;
  }
}

.page-footer__logo-text {
  margin: 39px auto 32px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__social {
  min-height: 63px;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.page-footer__copyright-link {
  padding: 22px 0;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    min-height: 78px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
