.product {
  position: relative;
}

.product__wrapper {
  padding-left: 140px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;
    padding: 0;
    align-items: center;
  }
}

.product__link {
  position: relative;
}

.product__image {
  position: absolute;
  right: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 34px);
  }

  @media (min-width: $desktop-width) {
    width: 172px;
  }
}

.product__title {
  width: 80px;
  margin: 0 0 14px 0;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 145px;
    margin-bottom: 13px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    line-height: 21px;
  }
}

.product__info {
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 95px;
  }
}

.product__table-row {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  td {
    margin: 0;
    padding: 0;
  }

  & td:nth-child(even) {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid $special_grey;
  }
}
