.products {
  @media (min-width: $desktop-width) {
    margin: 0 0 35px 0;
  }
}

.products__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.products__item {
  min-height: 209px;
  padding: 20px 20px 24px 20px;
  border-bottom: 1px solid $special_light-grey-5;

  @media (max-width: $mobile-width-only) {
    &:nth-child(1) {
      border-top: 1px solid $special_light-grey-5;
      padding: 20px 20px 23px 20px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 430px;
    margin: 140px 0 0 0;
    padding: 161px 36px 40px 36px;
    border: none;
    background-color: $basic_grey;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 431px;
    padding: 162px 38px 40px 39px;
  }
}
