.product {
  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 430px;
    background-color: $basic_grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__wrapper {
  position: relative;
  padding-left: 140px;
  padding-bottom: 22px;
  width: 280px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 252px;
    padding: 0;
    margin: 0 37px 33px 37px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin: 0 36px 33px 40px;
  }
}

// .product__link

.product__image {
  position: absolute;
  top: 33px;
  left: 36px;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: 191px;
  }
}

.product__title {
  width: 80px;
  margin: 0 0 14px 0;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 145px;
    margin-bottom: 21px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__info {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product__table-row {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  & td:nth-child(even) {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid $special_grey;
  }
}
