.promo {
  position: relative;
  margin: 0 0 22px 0;
  padding: 0;
  background-image: linear-gradient(90deg, rgba($basic_green, 0.85) 0%, rgba($basic_green, 0.85) 0%),
    url("../../img/index-bg-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 302px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(90deg, rgba($basic_green, 0.85) 0%, rgba($basic_green, 0.85) 0%),
      url("../../img/index-bg-cat-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.promo__wrapper {
  padding: 27px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  @media (min-width: $tablet-width) {
    height: 850px;
    padding: 62px 112px;
    align-items: flex-start;

    :not(img) {
      z-index: 1;
    }
  }

  @media (min-width: $desktop-width) {
    height: 640px;
    padding: 62px 330px 112px 190px;
  }
}

.promo__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic_white;
  margin: 0 0 25px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 42px 5px;
    font-size: 60px;
    line-height: 60px;
    color: $basic_black;
    text-align: left;
    display: block;
    width: 414px;
  }

  @media (min-width: $desktop-width) {
    margin: 46px 0 42px 0;
  }
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic_white;
  text-align: center;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 48px 5px;
    font-size: 20px;
    line-height: 20px;
    color: $basic_black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 0;
  }
}

.promo__image {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 709px;
    position: absolute;
    bottom: -22px;
    transform: translateX(-50%);
    left: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    top: 27px;
    transform: translateX(-162px);
    left: 50%;
  }
}
