.social__list {
  width: 130px;
  height: 22px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 33px;
    margin-top: -2px;
    margin-bottom: 3px;
    margin-left: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;
    margin-bottom: 2px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  path {
    fill: $special_grey-2;
  }

  &:focus,
  &:hover {
    path {
      fill: $basic_green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram {
  width: 16px;
  height: 16px;
  margin: 2px 36px auto 33px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
    margin: 2px 21px auto 27px;
  }
}

.social__link--facebook {
  width: 22px;
  height: 22px;

  path {
    stroke: $special_grey-2;
    fill: none;
  }

  &:focus,
  &:hover {
    path {
      stroke: $basic_green;
      fill: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}
