// Global

.page {
  background-color: $special_light-grey;
  height: 100%;
}

.page-body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: $basic_white;
  min-height: 100%;
}

.page__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 27px 20px 41px 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 41px 30px 165px 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 23px 110px 165px 110px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic_black;
}

*, *::after, *::before {
  box-sizing: border-box;
}
