// Colors

$basic_black: #000000;
$basic_white: #ffffff;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_grey: #f2f2f2;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_light-grey: #e5e5e5;
$special_light-grey-2: #eaeaea;
$special_light-grey-3: #e7e7e7;
$special_light-grey-4: #d9d9d9;
$special_light-grey-5: #ebebeb;
$special_light-grey-6: #d3d3d3;
$special_light-grey-7: #e6e6e6;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$special_black: #111111;
$special_pink: #ff8282;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
