.button {
  color: $basic_white;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $basic_green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;

  &:hover,
  &:focus {
    background-color: $basic_green-2;
  }

  &:active {
    background-color: $basic_green-2;
    color: rgba($basic_white, 0.3);
  }
}
